* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: rgb(202, 148, 49);
    margin: 0px;
}

p {
    font-size: 16px;
    margin: 10px;
    text-align: left;
}

img {
    max-width: 100%;
    margin: 10px 0px;
}

header {
    background-color: rgb(105, 82, 38);
    text-align: left;
}

header h1 {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: 75%;
    color: white;
}

header h2 {
    display: inline-block;
    width: 20%;
    color: white;
}

nav {
    background-color:#80430b;
    font-size: 0px;
}

nav ul li {
    display: inline-block;
    text-align: center;
    width: 25%;
}

nav li a {
    font-size: 18px;
    display: inline-block;
    padding: 20px 100px;
    color: white;
    width: 100%;
}

nav li a:hover {
    background-color: #643408;
}

nav .highlight {
    background-color: #412205;
}

main {
    margin: 20px 20px 0px;
    font-size: 0px;
    padding: 10px;
    background-color: rgb(206, 126, 34);
}

main h2 {
    text-align: center;
    font-size: 36px;
}

main h3 {
    font-size: 20px;
    margin: 20px 0px;
}

main ul {
    margin: 20px;
}

main ul li {
    margin: 5px 0px;
    list-style-type: none;
    background-color: rgb(199, 130, 51);
    padding: 10px;
}

main ul li:nth-child(2n) {
    background-color: rgb(204, 114, 10);
}

main .image {
    text-align: center;
    margin: 10px 0px;
}

main img {
    max-width: 300px;
    border: 3px dashed rgb(228, 162, 21);
}

main section#pancakes {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    padding: 20px;
    border-right: solid rgb(48, 29, 8) 5px;
    vertical-align: top;
}

main section#pancakes .right {
    width: 300px;
    float: right;
    margin: 20px;
}

main section#waffles {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    padding: 20px;
    vertical-align: top;
}

main p #waffleNumber, #pancakeNumber {
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #a37f3c;
    margin: 0px 20px 20px;
    padding: 20px 5px 10px;
}

footer p {
    margin: 0px 10px 10px 10px;
}